@import './simplebar.scss'; // simplebar defaults,  for easy cross browser compat


$primary: #88c2e7;
$secondary: #1e1330;
$info: #7b7797;
$success: #5eb57d;
$warning: #dba545;
$danger: #f44336;

.simplebar-track {
    background-color: transparent;
}

body {
    background-color: $primary !important;
}

.white-text {
    color: lightgray;
}

.scroll-container {
    height: 80vh;
    margin-bottom: 2em;
    padding: 1em;
    text-align: center;
    position: relative; /* For positioning the pseudo-element */
    border-radius: 20px;

    transition: background-color 500ms;
    &::after {
        /* Position the pseudo-element. */
        content: " ️️⚠️ Scroll Me! ⚠️";
        position: absolute;
        position: absolute;
        top: -1.5em;
        right: 1em;
        opacity: 0;
        transition: opacity 500ms;
    }

    &:hover{
        background-color: lightblue;
        &::after{
           opacity: 1;
        }
    }
}
