@import './simplebar.scss';


$primary: #88c2e7;
$secondary: #1e1330;
$info: #7b7797;
$success: #5eb57d;
$warning: #dba545;
$danger: #f44336;

.simplebar-track {
    background-color: transparent;
}

body {
    background-color: $primary !important;
}

.white-text {
    color: lightgray;
}
